<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600"/>
  <style type="text/css">
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      border: none;
      background: none;
      list-style: none;
    }

    html, body {
      width: 100%;
      height: 100%;
      background-color: #4d4d4d;
      color: #fff;
      font-family: 'Source Sans Pro', sans-serif;
    }

    .wrapper {
      display: flex;
      flex-flow: row wrap;
      min-height: 100%;
    }

    p {
      margin: 1rem 0;
      font-size: 1.2rem;
    }

    hr {
      height: 1px;
      width: 15rem;
      margin: 2.5rem auto 2.5rem 0;
      border: none;
      background-color: #d4d4d4;
    }

    .errorPage {
      max-width: 100%;
      align-self: center;
      margin: 1rem 0;
    }

    .clearfix::before,
    .clearfix::after {
      display: block;
      content: "";
      clear: both;
    }

    .logo {
      float: left;
      width: 13rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      padding-top: 1rem;
      padding-left: 2rem;
      fill: #fff;
    }

    .container {
      float: left;
      max-width: 100%;
      padding: 0 2rem;
    }

    .header {
      max-width: 30rem;
    }

    .header h1 {
      margin: 0;
      color: #d4d4d4;
      font-weight: normal;
      font-size: 3.5rem;
      line-height: 5rem;
    }

    .header h1 small {
      font-size: 1.5rem;
      line-height: 5rem;
    }

    .header h1 + p {
      margin-top: 0;
      font-size: 2.5rem;
    }

    .debug {
      max-height: 20rem;
      max-width: 95rem;
      margin: 2.5rem 0 0;
      padding: 1rem;
      overflow: auto;
      border-radius: 5px;
      background-color: #d4d4d4;
      color: #4d4d4d;
    }
  </style>
</head>
<body>
<div class="wrapper">
  <div class="errorPage">
    <div class="logo">
      <svg viewBox="0 0 500 475.18">
        <path d="M250,0C111.93,0,0,111.93,0,250A250,250,0,0,0,141.28,475.18c14.54-25.75,36-64.21,42.81-78.36a88.54,88.54,0,0,0,8.23-40.48c-0.43-18.8-7.11-27.61-40.67-82.78-21.42-35.21-16.53-29.67-21.42-35.21-4.49-5.09-4.85-3.09-4.16,22.49,0.7,25.92-5,63.54-12.73,81.75-1.12,2.63-7.37,17.72-13.6,16.87s-6.23-21.73-18.49-36.82c-6.83-8.4-17.34-14.69-29.45-26.9A19.49,19.49,0,0,1,46,285.63a17.89,17.89,0,0,1,.6-8.6c24.29-61,42.24-87.92,54.58-101,7.93-8.39,18.39-16.17,25.52-32.79,4.77-11.13,5.35-19.91,13.74-26.59,6.35-5.05,11.75-4.58,22.06-6.56,30.18-5.81,34.51-19.62,71.09-28,9.26-2.12,12.24-.6,16.39-0.6s7.13-1.52,16.39.6c36.58,8.36,40.91,22.18,71.09,28,10.31,2,15.71,1.51,22.06,6.56,8.39,6.67,9,15.46,13.74,26.59,7.13,16.62,17.58,24.4,25.52,32.79,12.35,13.05,30.29,40,54.58,101a17.89,17.89,0,0,1,.6,8.6,19.49,19.49,0,0,1-5.77,10.13c-12.11,12.22-22.62,18.5-29.45,26.9-12.27,15.09-12.18,36-18.49,36.82s-12.48-14.24-13.6-16.87c-7.76-18.21-13.43-55.84-12.73-81.75,0.69-25.58.33-27.58-4.16-22.49-4.89,5.54,0,0-21.42,35.21-33.56,55.17-40.25,64-40.67,82.78a88.54,88.54,0,0,0,8.23,40.48c6.73,14.07,28.7,52.15,43.74,77.9A250,250,0,0,0,500,250C500,111.93,388.07,0,250,0Z"></path>
      </svg>
    </div>
    <div class="container">
      <div class="header clearfix">
        <h1>{{ exception.code }}
          <small>{{ exception.code != 404 and exception.code != 500 ? exception.message : '' }}</small>
        </h1>
        {% if exception.code < 500 %}
          <p>Oops, the page you're looking for doesn't exist.</p>
        {% elseif exception.code >= 500 %}
          <p>Looks like we're having some server issues.</p>
        {% endif %}
      </div>
      <hr/>
      <p>
        You may want to head back to the homepage.<br/>
        If you think something is broken, report a problem.
      </p>
      {% if app.config.hasDebugEnabled %}
        <pre class="debug">{{ exception }}</pre>
      {% endif %}
    </div>
  </div>
</div>
</body>
</html>